body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.navbar {
    display: flex;
    background-color: #444;
    padding: 10px;
    justify-content: space-around;
}

.nav-item {
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: #555;
    color: #ddd;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.dropdown a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown a:hover {
    background-color: #555;
    color: #ddd;
}

#games:hover .dropdown {
    display: block;
}
