body {
    margin: 0;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #007BA7;
    color: #fff;
    padding-bottom: 80px; 
}

header {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 150px;
    height: auto;
}

.title {
    font-size: 2em; 
    margin: 5px;
}

.slider-container {
    position: relative;
    width: 70%; 
    max-width: 800px; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px; 
}

.slider {
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 15px;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    object-fit: contain;
}

.card-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 40px; 
    padding: 20px;
}

.card {
    background-color: #005f73;
    border-radius: 15px;
    padding: 30px;
    width: 800px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 15px 0;
}

.card button {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #0a9396;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #94d2bd;
}

#toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999;
    display: block;
}

#toTop img {
    width: 160px;
    height: 160px;
}

footer {
    background-color: darkgreen;
    text-align: center;
    padding: 9px;
    height: 48px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    max-width: 30px;
    height: auto;
}

footer p {
    margin: 5px 0 0;
    color: #fff;
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s;
}

.learn-card {
    background-color: #005f73;
    border-radius: 15px;
    padding: 30px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.learn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.learn-card:first-child {
    transition-delay: 0.2s; 
}

.learn-card:nth-child(2) {
    transition-delay: 0.3s; 
}

.learn-card:nth-child(3) {
    transition-delay: 0.43; 
}
.learn-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.learn-card h3 {
    margin-top: 0;
}

.video-container {
    margin: 15px 0;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.learn-card p {
    margin: 15px 0;
}

.learn-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.learn-card.fade-in {
    opacity: 1;
    transform: translateY(0);
}
